.hero {
  position: relative;
  height: 90vh;
  /* Casi toda la pantalla */
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #fff;
  /* Fondo casi negro para que el rojo brille */
  padding: 0 10%;
}

/* Decoración de fondo */
.hero::before {
  content: '';
  position: absolute;
  top: -10%;
  right: -5%;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(189, 31, 23, 0.4) 0%, transparent 70%);
  filter: blur(80px);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 10;
  max-width: 600px;
}

.hero-tag {
  display: inline-block;
  background: #bd1f17;
  color: #fff;
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 5rem;
  font-weight: 900;
  color: #eee;
  line-height: 0.9;
  text-transform: uppercase;
}

.hero-title span {
  color: #bd1f17;
  -webkit-text-stroke: 1px #bd1f17;
  /* Texto con borde si quieres */
}

.hero-text {
  font-size: 1.2rem;
  color: #aaa;
  margin: 25px 0;
  line-height: 1.6;
}

.hero-actions {
  display: flex;
  gap: 20px;
}

.btn-main {
  background: #bd1f17;
  color: white;
  border: none;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
  box-shadow: 0 10px 20px rgba(189, 31, 23, 0.3);
}

.btn-main:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(189, 31, 23, 0.5);
}

.btn-outline {
  background: transparent;
  color: #333;
  border: 2px solid #333;
  padding: 15px 40px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  border-color: #bd1f17;
  color: #bd1f17;
}

.hero-floating-img {
  position: absolute;
  right: 5%;
  z-index: 5;
  width: 45%;
  animation: float 6s ease-in-out infinite;
}

.hero-floating-img img {
  width: 100%;
  border-radius: 20px;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  /* Suaviza bordes */
}

/* Animación de flotado */
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

/* Responsive */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 5%;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-floating-img {
    position: relative;
    width: 80%;
    right: 0;
    margin-top: 50px;
  }

  .hero-actions {
    justify-content: center;
  }
}

.btn-main,
.btn-outline {
  text-decoration: none;
}

.hero {
  position: relative;
}

.success-message{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);

  background-color: #16a34a;   /* verde fuerte */
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}